.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
@keyframes example {
    from {box-shadow: 1px 1px 38px cyan;}
    to{box-shadow: 1px 1px 38px rgb(0, 64, 255);}
}

.note {
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}